#Pcard {
    border: 1px hidden;
    padding: 20px;
    /*margin: 5px;*/
}
@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 70%;
        margin-left:20%;
    }
}
.PDsmpic {
    border: 1px solid;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:0.5%; 
}
#PDdiscription {
    color:red;
}
.btnup {
    margin-top: -5px;
    margin-bottom: -5px;
}
.bgcolor {background-color:antiquewhite;
}
body {
    background-color: antiquewhite;
}


